USE [master]
GO
/****** Object:  Database [Restaurant_CleanArchitecture]    Script Date: 14/6/2021 1:15:51 PM ******/
CREATE DATABASE [Restaurant_CleanArchitecture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant_CleanArchitecture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restaurant_CleanArchitecture.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Restaurant_CleanArchitecture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restaurant_CleanArchitecture_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant_CleanArchitecture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant_CleanArchitecture]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Building_No] [nvarchar](20) NOT NULL,
	[Address1] [nvarchar](150) NOT NULL,
	[Address2] [nvarchar](150) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[PostCode] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Announcement]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](100) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](450) NOT NULL,
	[TargetTo] [nvarchar](100) NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Announcement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Booking]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NULL,
	[BookingDate] [datetime] NOT NULL,
	[ReservedBy] [nvarchar](450) NULL,
	[ReservationDate] [date] NOT NULL,
	[ReservationTime] [varchar](10) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[LastUpdate] [datetime] NULL,
	[UpdatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Owner_Register_Form]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner_Register_Form](
	[Id] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[Restaurant_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ApplicationStatus] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovedBy] [nvarchar](450) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[OpenHour] [nvarchar](50) NOT NULL,
	[EndHour] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[UserId] [nvarchar](450) NULL,
	[Status] [nvarchar](50) NULL,
	[AppovalDate] [datetime] NULL,
	[ApprovedBy] [nvarchar](450) NULL,
	[AddressId] [int] NULL,
	[TableQty] [int] NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 14/6/2021 1:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Role] [nvarchar](100) NULL,
	[DateRequested] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[Status] [nvarchar](100) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Id], [RestaurantId], [BookingDate], [ReservedBy], [ReservationDate], [ReservationTime], [Status], [LastUpdate], [UpdatedBy]) VALUES (1, 2, CAST(N'2021-06-03 20:43:23.810' AS DateTime), N'yapkinhoe1@gmail.com', CAST(N'2021-06-10' AS Date), N'15:00:00', N'Completed', CAST(N'2021-06-03 20:43:23.810' AS DateTime), NULL)
INSERT [dbo].[Booking] ([Id], [RestaurantId], [BookingDate], [ReservedBy], [ReservationDate], [ReservationTime], [Status], [LastUpdate], [UpdatedBy]) VALUES (2, 2, CAST(N'2021-06-03 20:43:37.660' AS DateTime), N'porotomato@gmail.com', CAST(N'2021-06-10' AS Date), N'15:00:00', N'Rejected', CAST(N'2021-06-03 20:43:37.660' AS DateTime), NULL)
INSERT [dbo].[Booking] ([Id], [RestaurantId], [BookingDate], [ReservedBy], [ReservationDate], [ReservationTime], [Status], [LastUpdate], [UpdatedBy]) VALUES (3, 2, CAST(N'2021-06-03 20:43:49.570' AS DateTime), N'kinhoe0414@gmail.com', CAST(N'2021-06-10' AS Date), N'15:00:00', N'Reserved', CAST(N'2021-06-03 20:43:49.570' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
SET IDENTITY_INSERT [dbo].[Restaurant] ON 

INSERT [dbo].[Restaurant] ([Id], [RestaurantName], [Type], [OpenHour], [EndHour], [Description], [UserId], [Status], [AppovalDate], [ApprovedBy], [AddressId], [TableQty]) VALUES (2, N'Kent Ice Cream', N'1', N'12:00:00', N'22:00:00', N'Best Ice Cream Fast Food Store', NULL, N'Pending', NULL, NULL, NULL, 10)
INSERT [dbo].[Restaurant] ([Id], [RestaurantName], [Type], [OpenHour], [EndHour], [Description], [UserId], [Status], [AppovalDate], [ApprovedBy], [AddressId], [TableQty]) VALUES (3, N'Daboba99', N'1', N'08:00:00', N'20:00:00', N'This is update to test', NULL, N'Pending', NULL, NULL, NULL, 5)
INSERT [dbo].[Restaurant] ([Id], [RestaurantName], [Type], [OpenHour], [EndHour], [Description], [UserId], [Status], [AppovalDate], [ApprovedBy], [AddressId], [TableQty]) VALUES (4, N'Daboba', N'1', N'12:00:00', N'20:00:00', N'Best Milk in Town', NULL, N'Pending', NULL, NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([Id], [UserId], [Username], [FirstName], [LastName], [Role], [DateRequested], [DateUpdated], [UpdatedBy], [Status]) VALUES (1, N'06ad5138-61e1-4f1e-82a6-d438c21610cc', N'JohnCena04', N'John 04', N'Cena04', N'Owner', CAST(N'2021-06-13 09:01:04.897' AS DateTime), CAST(N'2021-06-14 00:59:49.000' AS DateTime), N'14760208-6885-4d60-8bf7-89df6c3d79bd', N'Approve')
INSERT [dbo].[UserProfile] ([Id], [UserId], [Username], [FirstName], [LastName], [Role], [DateRequested], [DateUpdated], [UpdatedBy], [Status]) VALUES (2, N'2b82d205-206a-4ba5-93b2-d13e3e4d2b0a', N'YapKinHoe99', N'Yap ', N'Kin Hoe 99', N'Owner', CAST(N'2021-06-13 09:01:04.000' AS DateTime), CAST(N'2021-06-14 00:59:49.000' AS DateTime), N'14760208-6885-4d60-8bf7-89df6c3d79bd', N'Approve')
INSERT [dbo].[UserProfile] ([Id], [UserId], [Username], [FirstName], [LastName], [Role], [DateRequested], [DateUpdated], [UpdatedBy], [Status]) VALUES (3, N'2e70e23d-e41f-4b41-b3b0-8fea6336a461', N'Testing99', N'Testing', N'User 99', N'Owner', CAST(N'2021-06-13 09:01:04.897' AS DateTime), NULL, NULL, N'Pending')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Restaurant]
GO
ALTER TABLE [dbo].[Restaurant]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Restaurant] CHECK CONSTRAINT [FK_Restaurant_Address]
GO
USE [master]
GO
