<table class="table table-stripped">
    <thead>
        <th>Restaurant Name</th>
        <th>Description </th>
        <th>Open Hour</th>
        <th>Closing Hour</th>
    </thead>

    <tbody>
        <tr *ngFor = "let item of RestaurantList.Restaurants">
            <td>
                {{item.RestaurantName}}
            </td>
            <td>
                {{item.Description}}
            </td>
            <td>
                {{item.OpenHour}}
            </td>
            <td>
                {{item.EndHour}}
            </td>

            <td>
                
            </td>
        </tr>
    </tbody>
</table>
