<div class="container">
    <h3 class="d-flex justify-content-center">
      Angular UI Restaurant Apps
    </h3>

    <h5 class="d-flex justify-content-center"> 
      Welcome to Reserve Your Seats Just with a Click of a Button
    </h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="restaurant" class="m-1 btn-light btn-outline-primary" Button>
          Retaurants
        </button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>


