@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Aprove Onwer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ApproveRestaurant">Approve Retaurants Application</a>
    </li>
</ul>